body {
  padding: 30px;
  max-width: 1080px;
  margin: auto;
}

h1 {
  text-align: left;
  font-family: 'Arial';
  font-size: 50px;
  padding-top: 30px;
  text-shadow: 3px 3px rgb(194, 194, 194);
  background-color: #F1F1F7;
  color: #1D1D1F;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 12px;
}

footer {
  padding-left: 8px;
  padding-bottom: 5px;
  background-color: #F1F1F7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #F1F1F7;
  color: #1D1D1F;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  border-radius: 5px;
}

a:hover {
  box-shadow: inset 100px 0 0 0 #1D1D1F;
  color: #F1F1F7;
}

a:link.one, a:visited.one {
  color: rgb(70, 70, 70);
}

.current {
  box-shadow: inset 100px 0 0 0 #1D1D1F;
  color: #F1F1F7;
  border-radius: 5px;
}

div.navigation {
  margin-top: -8px;
  font-size: 20px;
}

div.row {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  text-overflow: ellipsis;
}

#col_borders {
  border-left: 1px solid red;
  border-top: 1px solid red;
  border-bottom: 5px solid white;
  border-right: 1px solid red;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Times New Roman';
  font-size: 30px;
  color: red;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#click1, #click2, #click3, #click4, #click5,
#click6, #click7, #click8, #click9, #click10,
#click11 {
  cursor: pointer;
}

img {
  border-top: 2px solid red;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.world_img {
  border-top: 2px solid rgb(0, 141, 0);
}

p.one {
  color: #FF3333;
  font-size: 30px;
  font-family: 'Times New Roman';
  margin-bottom: 0px;
  background-color: #F1F1F7;
}

p.two {
  font-size: 20px;
  font-family: 'Times New Roman';
  margin-bottom: 10px;
  background-color: #F1F1F7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  color: #1D1D1F;
  text-align: center;
}

#sub_heading {
  border-bottom: 10px solid white;
  border-top: 1px solid rgb(0, 141, 0);
  border-left: 1px solid rgb(0, 141, 0);
  border-right: 1px solid rgb(0, 141, 0);
  color: rgb(0, 141, 0);
  font-family: 'Times New Roman';
  font-size: 30px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#world_topics {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

p.three {
  color: rgb(212, 0, 0);
  font-size: 20px;
  border-top: 1px solid rgb(212, 0, 0);
  font-family: 'Times New Roman';
  margin: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #F1F1F7;
}

p.four {
  font-size: 15px;
  font-family: 'Times New Roman';
  background-color: #F1F1F7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
}

p.world {
  color: rgb(0, 141, 0);
  font-size: 30px;
  font-family: 'Times New Roman';
  margin-bottom: 0px;
  background-color: #F1F1F7;
}

#top_border {
  border-top-color: rgb(0, 141, 0);
}

td {
  text-align: left;
}

nav {
  text-align: center;
  font-family: Arial;
  word-spacing: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F1F1F7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}